body{

}

.container{
	max-width: 960px;
	margin: 0 auto;
}

.control{
	padding: .2em .5em;
}

.form-box label{
	display: block;
	margin-top: .5em;
}

.table{
	border:1px solid #eee;
}

.table td{
	border-bottom: 1px solid #eee;
}

.login{
	
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border:1px solid #eee;
	text-align: center;
}